.onboarding-page {
    background: var(--color-background-elevated);
  }
  
  .onboarding-content {
    padding: 61px 34px 0;
  }
  
  .onboarding-text h1 {
    margin: 0;

    color: var(--blue-950);
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.32px;
  }

  .onboarding-highlight {
    color: var(--color-primary-default);
  }
  
  .onboarding-text p {
    margin: 16px 0 0;
    color: var(--Gray-950, #30333A);
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 152.941% */
    letter-spacing: -0.32px;
  }
  
  .onboarding-visual-wrap {
    margin-top: 52px;
    display: flex;
    justify-content: center;
  }
  
  .onboarding-visual {
    width: 320px;
    height: auto;
    display: block;
  }
  
  .onboarding-indicator {
    margin-top: 56px;
  }
  
  .onboarding-bottom {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 40px;
  }