.learning-record-card {
  width: 377px;
  height: 297px;

  border-radius: 16px;
  border: 1px solid #5681ff;
  background: #fff;
  box-sizing: border-box;

  margin-top: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.learning-record-title {
  margin: 20px 0 0;

  color: #273a73;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.32px;
}

.learning-record-list {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.learning-record-item {
  width: 335px;
  height: 77px;
  aspect-ratio: 335 / 77;

  border-radius: 10px;
  background: #e6ecff;
  box-sizing: border-box;
  
  padding: 12px 8.5px 0 10px;

  display: flex;
  flex-direction: column;
}

.learning-record-item p {
  display: flex;
  width: 235px;
  height: 22.147px;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 191 / 18;

  margin: 8px 0 0;

  color: #3a3a3a;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.learning-record-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 22px;
}

.learning-record-badge {
  display: flex;
  width: 56px;
  height: 22px;
  padding: 3px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: #91adff;

  color: #f7f9ff;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  box-sizing: border-box;
  white-space: nowrap;
}

.learning-record-button {
  display: flex;
  width: 75px;
  height: 34px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 0;
  border-radius: 12px;
  background: #d5dfff;

  color: #273a73;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;

  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
}